* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}

/* .background { */
    /* background-image: url(../Images/interlaced.png); */
/* } */

html {
    color: grey;
}

.header {
    width: 100%;
    height: 50px;
}
#name {
    width: 30px;
    color: white;
    background-color: #4aaaa5;
}

nav {
    width: 20%;
    right: 0;
    position: absolute;
    text-align: center;
    background-color:white;
}

.nav a{
}