* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}

/* .background { */
    /* background-image: url(../Images/interlaced.png); */
/* } */

.header {
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: lightgrey;
}

nav {
    height: 50px;
    width: 20%;
    right: 0;    
    position: absolute;
    text-align: right;
    padding: 20px;
    background-color:white;
}

.nav a{
}