
body {
    max-height:100vh;
    padding: 0;
    margin: 0;
    
    
}

.nav {
    padding: 20px;
    background: white;
    border-style: solid;
}

.content {
    width: 70%;
    padding: 200px 0px;
    margin: 100px auto;

    background: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #666666;
}

h1 {
    font-size: 30px
}