* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}

/* .background { */
    /* background-image: url(../Images/interlaced.png); */
/* } */

.header {
    width: 100%;
    height: 70px;
}

#name {
    width: 30px;
    top: 50px;;
    color: white;
    background-color: #4aaaa5;
}

nav {
    width: 20%;
    right: 0;
    position: absolute;
    text-align: center;
    background-color:white;
}
section {
    margin: 0px 300px 0px;
    border-style: solid;
}
.container {
    margin: 30px;
}

h1, p {
    line-height: 30px;
}
